##MDK##
##::/RT1064/MDK/**/*.opt::不允许删除JLINK的设置##


/RT1064/MDK/**/*.scvd
/RT1064/MDK/**/*.bak
/RT1064/MDK/**/*.ddk
/RT1064/MDK/**/*.edk
/RT1064/MDK/**/*.lst
/RT1064/MDK/**/*.lnp
/RT1064/MDK/**/*.mpf
/RT1064/MDK/**/*.mpj
/RT1064/MDK/**/*.obj
/RT1064/MDK/**/*.omf
/RT1064/MDK/**/*.plg
/RT1064/MDK/**/*.rpt
/RT1064/MDK/**/*.uvgu
/RT1064/MDK/**/*.tmp
/RT1064/MDK/**/*.__i
/RT1064/MDK/**/*.crf
/RT1064/MDK/**/*.o
/RT1064/MDK/**/*.d
/RT1064/MDK/**/*.axf
/RT1064/MDK/**/*.uvgui
/RT1064/MDK/**/*.uvgui.*
/RT1064/MDK/**/*.bak
/RT1064/MDK/**/*.tra
/RT1064/MDK/**/*.dep
/RT1064/MDK/**/JLinkLog.txt

/RT1064/MDK/**/*.iex
/RT1064/MDK/**/*.htm
/RT1064/MDK/**/*.sct
/RT1064/MDK/**/*.map

/RT1064/MDK/**/Objects/
/RT1064/MDK/**/Listings/

##IAR##
/RT1064/IAR/program/**/nor_sdram_zf_dtcm/
/RT1064/IAR/**/settings/

/RT1064/IAR/**/*.crun
/RT1064/IAR/**/*.dbgdt
/RT1064/IAR/**/*.ps1
/RT1064/IAR/**/*.xcl
/RT1064/IAR/**/*.reggroups

/RT1064/IAR/program/settings/RT106X.dep
/RT1064/IAR/program/settings/

/RT1064/IAR/program/RT106X.dep
/RT1064/IAR/program/settings/RT106X.dnx


## MATLAB ##
/Code_matlab/Data/*.mat

##AD 


/Circuit_Board/**/Project Logs for PCB_Project1/
/Circuit_Board/**/History/
/Circuit_Board/**/__Previews/
/Circuit_Board/**/Project*/
/Circuit_Board/**/*.PrjPCBStructure

## 
!/**/.gitignore